*{margin: 0; padding: 0}
body{background: url(bkg.jpg);background-size: cover;width: 100vw;height: 100vh;}

img{display: block;margin: 0 auto;padding: 8px}
.proja{text-align: center;color: #B11B3B;font-size: 30px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
animation: ske 3s linear infinite;animation-direction: alternate}
@keyframes ske{
0%{transform: skewX(30deg)};50%{transform: skewX(5deg)};70%{transform: skewX(-60deg)};100%{transform: skewX(-50deg)}
}
.contain{display: flex; max-width: 1000px;height: 200px;flex-direction: row;justify-content: space-between;margin: 0 auto}
#patra{width:130px;height: 130px;border-radius:  90px ;background: #1A4AFE;outline: none;text-align: center;
border: none;font-size: 20px;font-weight: bold;color:white;animation: mov 10s linear infinite;animation-direction: alternate}
@keyframes mov{
    0%{scale: .5;background: #5A7CFE}
    25%{scale: .7;background: url(par.gif)}
    50%{scale: 1;background: #1A4AFE}
    75%{scale: .4;background: #9EB3FE}
    100%{scale: .7;background: #335EFE;transform: rotate(-360deg)}
}
#patri{width:130px;height: 130px;border-radius: 90px ;background: #FF2264;
    outline: none;text-align: center;align-items: bottom;border: none;font-size: 20px;font-weight: bold;color:white;
    animation: mo 6s linear infinite;animation-direction: alternate}
@keyframes mo{
    0%{scale: .6;background: url(pri.gif)}
    25%{scale: .3;background: #FF709B}
    50%{scale: .5;background: #FF2264;transform: rotate(360deg)}
    75%{scale: .4;background: #FFBBCF}
    100%{scale: 1;background: #FF2264}
}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-color: #1A4AFE;outline: none; }
    .img-upper{background: url(nambg.gif);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #1A4AFE;font-family: 'Kalpurush', sans-serif;}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-color: #FF2264;outline: none; }
    .img-upper1{background: url(nambg.gif);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264;font-family: 'Kalpurush', sans-serif;}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}
    .gui{max-width: 800px;}
    .gui img{width: 100%;border-radius: 280px 26px 26px 280px}
    h2{text-align: center;margin-bottom: 10px;font-size: 30px;font-weight: bold;font-family: 'Kalpurush', sans-serif;color: #A90018;
    width: 170px;height:35px;margin: 0 auto;background: url(swar.gif);border-radius: 23px;line-height: 42px}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: white;
    font-family: 'Kalpurush', sans-serif;width: 170px;height:28px;margin: 0 auto;background: #A90018;border-radius: 23px;line-height: 28px}
    .nai{text-align: center;color: #A90018;font-family: 'Kalpurush', sans-serif;;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;background: olivedrab;border-radius: 40px 10px 40px 10px;margin-bottom: 7px;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 40px;
line-height: 40px;
text-align: center;

border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
border: 1.5px solid #D9FE92;border-radius: 13px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;
    width: 170px;height:28px;margin: 0 auto;background: #A90018;border-radius: 23px;font-family: 'Kalpurush', sans-serif; }
    .eg{text-align: center;color:#A90018;font-family: 'BenSen', sans-serif;font-size: 20px;font-family: 'Kalpurush', sans-serif;}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'Kalpurush', sans-serif;;
    width: 120px;height:28px;margin: 0 auto;background: #A90018;border-radius: 23px;line-height: 28px}
    .cu{text-align: center;color:#A90018;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'BenSen', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;font-family: 'Kalpurush', sans-serif;}    
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #A90018;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #A90018;font-size: 22px;background: rgba(0,238,253,.1);border-radius: 26px;padding: 5px}
    .quni{display: flex;max-width: 100%;justify-content: space-around;align-items: center}
    .qui {max-width: 60%}
    .nibe{text-align: right;margin-right: 10px;color: #A90018;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
button{width: 100px;height: 30px;background: green;border-radius: 46px;border: none;font-weight: bold;font-size: 15px;letter-spacing: 1.5px
;color: white}